* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  position: relative;
  width: 100%;
  max-width: 1170px;
  padding: 0 178px;
}

.menu {
  position: absolute;
  cursor: pointer;
  background-color: #000000;
  bottom: 0;
  right: 28px;
  display: none;
}

.menu .line-wrapper {
  position: relative;
  width: 44px;
  height: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__line {
  border-top: 2px solid #fefefe;
  width: 17px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 100ms ease-in-out;
}

.menu__line-top {
  top: calc(50% - 5px);
}

.menu__line-middle {
  top: calc(50% - 1px);
  animation: 5000ms ease-in-out infinite line-rotate;
}

.menu__line-bottom {
  top: calc(50% + 3px);
}

.nav {
  width: 100%;
}

.nav .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  color: #4e4e4e;
  text-transform: uppercase;
  padding: 17px 0;
  font-size: 11px;
  line-height: 22px;
}

.nav .list__item:hover {
  color: #57a4a4;
}

.position-center {
  transition: 100ms ease-in-out;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  transition: 100ms ease-in-out;
  width: 0;
}

.rotate-plus {
  transform: translate(-50%, -50%) rotate(45deg);
}

.rotate-minus {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes line-rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  25% {
    transform: translateX(-50%) rotate(-20deg);
  }

  50% {
    transform: translateX(-50%) rotate(0deg);
  }

  75% {
    transform: translateX(-50%) rotate(20deg);
  }

  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

.poster {
  width: 100%;
  max-width: 1170px;
  padding-top: 34px;
}

.poster-wrapper img {
  width: 100%;
}

.posts {
  padding: 69px 0;
  width: 100%;
  max-width: 1170px;
}

.posts .grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 55px;
       column-gap: 55px;
  row-gap: 32px;
}

.posts .grid__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 21px;
}

.posts .grid__item .description__title {
  line-height: 30px;
  text-transform: none;
}

.posts .grid__item .description__link {
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 1px;
}

.posts .grid__item .description__text {
  font-size: 14px;
  color: #5c5c5c;
  line-height: 26px;
  font-weight: 400;
  margin-top: 13px;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4e4e;
  font-size: 16px;
  line-height: 22px;
}

.instagram {
  padding: 47px 0 49px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

.instagram__title {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #4e4e4e;
}

.instagram-link {
  font-size: 12px;
}

.instagram__images {
  margin-top: 24px;
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.instagram__images .image-wrapper img {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #000000;
  padding: 66px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer .title--white {
  color: #fefefe;
  width: 100%;
  text-align: center;
}

.footer__text {
  line-height: 28px;
  color: #b9b9b9;
  font-weight: 400;
  max-width: 684px;
  text-align: center;
  margin-top: 22px;
}

.footer .social {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 192px;
}

.footer .social .image-wrapper {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .social .image-wrapper:nth-child(1) {
  border: 2px solid #f8902e;
}

.footer .social .image-wrapper:nth-child(2) {
  border: 2px solid #39599f;
}

.footer .social .image-wrapper:nth-child(3) {
  border: 2px solid #45b0e3;
}

.footer .social .image-wrapper:nth-child(4) {
  border: 2px solid #d97ab0;
}

.footer .social .image-wrapper:nth-child(5) {
  border: 2px solid #cc212c;
}

.footer .contacts {
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  color: #b9b9b9;
  margin-top: 34px;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-top: 29px;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1199px) {
  .poster {
    padding: 28px 92px 0 80px;
  }

  .posts {
    padding: 59px 275px 60px 80px;
  }

  .posts .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .instagram {
    padding: 47px 92px 50px 80px;
  }

  .instagram__images {
    margin-top: 35px;
  }

  .instagram__images .image-wrapper:last-child {
    display: none;
  }

  .footer {
    padding: 57px 0 56px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 23px 28px 0 25px;
  }

  .header .menu {
    display: block;
  }

  .nav {
    position: absolute;
    display: none;
    right: 28px;
    top: 23px;
    width: 183px;
    background-color: #f5f5f5;
  }

  .nav .list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav .list__item {
    width: 100%;
  }

  .nav .list__item .link {
    display: block;
    padding: 4.5px 0 4.5px 13px;
    width: 100%;
  }

  .nav .list__item:hover {
    background-color: #e5e5e5;
  }

  .nav_show {
    display: block;
  }

  .poster {
    padding: 23px 28px 0 25px;
  }

  .posts {
    padding: 42px 116px 43px 25px;
  }

  .posts .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .posts .grid__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 11px;
  }

  .posts .grid__item .description__title {
    font-size: 14px;
  }

  .posts .grid__item .description__link {
    font-size: 11px;
  }

  .posts .grid__item .description__text {
    display: none;
  }

  .title {
    font-size: 14px;
  }

  .instagram {
    padding: 38px 47px 42px 25px;
  }

  .instagram .title {
    font-size: 14px;
  }

  .instagram-link {
    display: none;
  }

  .instagram__images {
    margin-top: 13px;
    justify-content: center;
  }

  .instagram__images .image-wrapper:not(:first-child) {
    display: none;
  }

  .footer {
    padding: 38px 35px 47px;
    margin-top: 25px;
  }

  .footer__text {
    margin-top: 8px;
  }

  .footer .social {
    margin-top: 26px;
  }
}