@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  padding: 22px 0;
  width: 100%;
  color: #4E4E4E;
  font-size: 11px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .nav {
  position: relative;
  padding: 0 14%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .nav .dropdown-menu {
  position: absolute;
  width: 44px;
  height: 37px;
  background-color: #000000;
  right: 0;
  top: 0;
  cursor: pointer;
  display: none;
}

.header .nav .dropdown-menu-item {
  width: 17px;
  height: 2px;
  background-color: #ffffff;
}

.header .nav .dropdown-menu-item:not(:first-of-type) {
  margin-top: 2px;
}

.header .nav .list {
  opacity: 1;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .nav .list-item {
  transition: 100ms ease-in-out;
}

.header .nav .list-item:hover {
  color: #57A4A4;
}

.open .dropdown-menu {
  position: relative;
}

.open .dropdown-menu-item {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.open .dropdown-menu-item:nth-child(2) {
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.open .dropdown-menu-item:nth-child(3) {
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.open .dropdown-menu-item:nth-child(1) {
  display: none;
}

.main {
  width: 100%;
  max-width: 1200px;
  padding: 34px 15px 0;
}

.poster {
  width: 100%;
}

.poster-image {
  width: 100%;
}

.posts {
  margin-top: 69px;
  padding-bottom: 69px;
}

.posts-title {
  text-transform: uppercase;
  color: #4E4E4E;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.posts-grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 32px;
  -moz-column-gap: 55px;
       column-gap: 55px;
}

.posts-grid .grid-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.posts-grid .grid-item-info {
  margin-left: 21px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.posts-grid .grid-item__title {
  font-weight: 700;
  font-size: 16px;
}

.posts-grid .grid-item__info {
  font-size: 11px;
  display: block;
  margin-top: 11px;
}

.posts-grid .grid-item__text {
  font-size: 14px;
  margin-top: 17px;
}

.instagram {
  position: relative;
  padding: 47px 0 49px 0;
  background-color: rgba(0, 0, 0, 0.03);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.instagram-link {
  position: absolute;
  right: 0;
  top: 47px;
}

.instagram-photo {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.instagram-photo::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.footer {
  padding: 66px 0 70px 0;
  width: 100%;
  background-color: #000000;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-title {
  text-transform: uppercase;
  color: #FEFEFE;
  font-weight: 700;
}

.footer-text {
  color: #B9B9B9;
  width: 57%;
  text-align: center;
  line-height: 26px;
  margin-top: 22px;
}

.footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
  width: 200px;
}

.footer .social-media .image-wrapper {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .social-media .image-wrapper:nth-child(1) {
  border: 2px solid #F8902E;
}

.footer .social-media .image-wrapper:nth-child(2) {
  border: 2px solid #39599F;
}

.footer .social-media .image-wrapper:nth-child(3) {
  border: 2px solid #45B0E3;
}

.footer .social-media .image-wrapper:nth-child(4) {
  border: 2px solid #D97AB0;
}

.footer .social-media .image-wrapper:nth-child(5) {
  border: 2px solid #CC212C;
}

.footer .contacts {
  color: #B9B9B9;
  margin-top: 34px;
}

.container {
  margin: 0 auto;
  padding-top: 29px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 769px) {
  .header {
    padding: 0;
  }

  .header .nav {
    height: 37px;
  }

  .header .nav .dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10%;
    z-index: 2;
  }

  .header .nav .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    width: 24%;
    height: 0vh;
    right: 10%;
    bottom: 0;
    opacity: 0;
  }

  .header .nav .list-link {
    display: inline-block;
    width: 100%;
  }

  .header .nav .list-item {
    padding: 9px 0 9px 12px;
    background-color: #f5f5f5;
    width: 100%;
  }

  .header .nav .list-item:hover {
    background-color: #e5e5e5;
  }

  .main {
    width: 100%;
    padding: 28px 0 0 0;
  }

  .posts-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
  }

  .container {
    max-width: 768px;
    padding-top: 23px;
  }
}

@media (max-width: 321px) {
  .instagram-link {
    display: none;
  }
}