.footer {
    padding: 66px 0 70px 0;
    width: 100%;
    background-color: $footer-background-color;
    @include font-family-400;
    @include flex(column, flex-start, center);
    &-title {
        text-transform: uppercase;
        color: $secondary-color-second;
        font-weight: 700;
    }
    &-text {
        color: $secondary-color-first;
        width: 57%;
        text-align: center;
        line-height: 26px;
        margin-top: 22px;
    }
    .social-media {
        @include flex(row, space-between, center);
        margin-top: 37px;
        width: 200px;
        .image-wrapper {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            @include flex(row, center, center);
            &:nth-child(1) {
                border: 2px solid #F8902E;            
            }
            &:nth-child(2) {
                border: 2px solid #39599F;            
            }
            &:nth-child(3) {
                border: 2px solid #45B0E3;            
            }
            &:nth-child(4) {
                border: 2px solid #D97AB0;            
            }
            &:nth-child(5) {
                border: 2px solid #CC212C;            
            }
        }
    }
    .contacts {
        color: $secondary-color-first;
        margin-top: 34px;
    }
}