.footer {
  width: 100%;
  background-color: #000000;
  padding: 66px 0 70px;
  @include flex(column, flex-start, center);
  .title--white {
    color: $footer-title-color;
  }
  &__text {
    line-height: 28px;
    color: $footer-text-color;
    font-weight: 400;
    max-width: 684px;
    text-align: center;
    margin-top: 22px;
  }
  .social {
    margin-top: 37px;
    @include flex(row, space-between, center);
    width: 192px;
    .image-wrapper {
      border-radius: 50%;
      width: 34px;
      height: 34px;
      @include flex(row, center, center);
      &:nth-child(1) {
        border: 2px solid #f8902e;
      }
      &:nth-child(2) {
        border: 2px solid #39599f;
      }
      &:nth-child(3) {
        border: 2px solid #45b0e3;
      }
      &:nth-child(4) {
        border: 2px solid #d97ab0;
      }
      &:nth-child(5) {
        border: 2px solid #cc212c;
      }
    }
  }
  .contacts {
    text-align: center;
    line-height: 26px;
    font-size: $xl-font-size;
    color: $footer-text-color;
    margin-top: 34px;
    font-weight: 400;
  }
}

@media (max-width: 1199px) {
  .footer {
    padding: 57px 0 56px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 38px 35px 47px;
    &__text {
      margin-top: 8px;
    }
    .social {
      margin-top: 26px;
    }
    margin-top: 25px;
  }
}
