.header {
  position: relative;
  width: 100%;
  max-width: 1170px;
  padding: 0 178px;
  .nav {
    width: 100%;
    .list {
      @include flex(row, space-between, center);
      font-weight: 400;
      color: $main-text-color;
      text-transform: uppercase;
      padding: 17px 0;
      font-size: $s-font-size;
      line-height: 22px;
      &__item:hover {
        color: $nav-hover-color;
      }
    }
  }
  .menu {
    position: absolute;
    width: 44px;
    height: 37px;
    background-color: #000000;
    bottom: 0;
    right: 0;
    padding: 13.5px 0;
    @include flex(column, space-between, center);
    display: none;
    &__line {
      border-top: 2px solid #fefefe;
      width: 17px;
    }
  }
}
