.header {
  padding: 22px 0;
  width: 100%;
  color: $basic-color;
  font-size: $s-font-size;
  @include font-family-400;
  @include flex(row, center, center);
  .nav {
    position: relative;
    padding: 0 14%;
    width: 100%;
    @include flex(row, center, center);
    .dropdown-menu {
      position: absolute;
      width: 44px;
      height: 37px;
      background-color: #000000;
      right: 0;
      top: 0;
      cursor: pointer;
      display: none;
      &-item {
        width: 17px;
        height: 2px;
        background-color: #ffffff;
        &:not(:first-of-type) {
          margin-top: 2px;
        }
      }
    }
    .list {
      opacity: 1;
      width: 100%;
      text-transform: uppercase;
      @include flex(row, space-between, center);
      &-item {
        transition: 100ms ease-in-out;
      }
      &-item:hover {
        color: $secondary-color-hover;
      }
    }
  }
}

.open {
  .dropdown-menu {
    position: relative;
    &-item {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      &:nth-child(2) {
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(3) {
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:nth-child(1) {
        display: none;
      }
    }
  }
}

@media (max-width: 769px) {
  .header {
    padding: 0;
    .nav {
      height: 37px;
      .dropdown-menu {
        @include flex(column, center, center);
        right: 10%;
        z-index: 2;
      }
      .list {
        @include flex(column, flex-start, flex-start);
        position: absolute;
        width: 24%;
        height: 0vh;
        right: 10%;
        bottom: 0;
        opacity: 0;
        &-link {
          display: inline-block;
          width: 100%;
        }
        &-item {
          padding: 9px 0 9px 12px;
          background-color: #f5f5f5;
          width: 100%;
          &:hover {
            background-color: #e5e5e5;
          }
        }
      }
    }
  }
}
