.header {
  position: relative;
  width: 100%;
  max-width: 1170px;
  padding: 0 178px;
}
.menu {
  position: absolute;
  cursor: pointer;
  background-color: #000000;
  bottom: 0;
  right: 28px;
  display: none;
  .line-wrapper {
    position: relative;
    width: 44px;
    height: 37px;
    @include flex(column, space-between, center);
  }
}
.menu__line {
  border-top: 2px solid #fefefe;
  width: 17px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 100ms ease-in-out;
}
.menu__line-top {
  top: calc(50% - 5px);
}
.menu__line-middle {
  top: calc(50% - 1px);
  animation: 5000ms ease-in-out infinite line-rotate;
}
.menu__line-bottom {
  top: calc(50% + 3px);
}
.nav {
  width: 100%;
  .list {
    @include flex(row, space-between, center);
    font-weight: 400;
    color: $main-text-color;
    text-transform: uppercase;
    padding: 17px 0;
    font-size: $s-font-size;
    line-height: 22px;
    &__item:hover {
      color: $nav-hover-color;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 23px 28px 0 25px;
    .menu {
      display: block;
    }
  }
  .nav {
    position: absolute;
    display: none;
    right: 28px;
    top: 23px;
    width: 183px;
    background-color: #f5f5f5;
    .list {
      padding: 0;
      @include flex(column, flex-start, flex-start);
      &__item {
        width: 100%;
        .link {
          display: block;
          padding: 4.5px 0 4.5px 13px;
          width: 100%;
        }
        &:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }
  .nav_show {
    display: block;
  }
}


.position-center {
  transition: 100ms ease-in-out;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  transition: 100ms ease-in-out;
  width: 0;
}

.rotate-plus {
  transform: translate(-50%, -50%) rotate(45deg);
}

.rotate-minus {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes line-rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) rotate(-20deg);
  }
  50% {
    transform: translateX(-50%) rotate(0deg);
  }
  75% {
    transform: translateX(-50%) rotate(20deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}
