@mixin font-family-400 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-family-700 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}