.posts {
    margin-top: 69px;
    padding-bottom: 69px;
    &-title {
        text-transform: uppercase;
        color: $basic-color;
        @include font-family-700
    }
    &-grid {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        column-gap: 55px;
        .grid-item {
            @include flex(row, space-between, flex-start);
            &-info {
                margin-left: 21px;
                @include font-family-400;
            }
            &__title {
                font-weight: 700;
                font-size: $xl-font-size;
            }
            &__info {
                font-size: $s-font-size;
                display: block;
                margin-top: 11px;
            }
            &__text {
                font-size: $l-font-size;
                margin-top: 17px;
            }
        }
    }
}

@media (max-width: 769px) {
    .posts-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
    }    
}


