@import "reset";
@import "mixin";
@import "fonts";
@import "variables";
@import "header";
@import "main";
@import "section_poster";
@import "section_posts";
@import "section_instagram";
@import "footer";

.container {
    margin: 0 auto;
    padding-top: 29px;
    width: 100%;
    max-width: $pc-width;
    @include flex(column, flex-start, center)
}

@media (max-width: 769px) {
    .container {
        max-width: $tablet-width;
        padding-top: 23px;
    }
}