// Text colors
$basic-color: #4e4e4e;
$primary-color-first: #7c7c7c;
$primary-color-second: #5c5c5c;
$secondary-color-first: #b9b9b9;
$secondary-color-second: #fefefe;
$secondary-color-hover: #57a4a4;
$footer-background-color: #000000;

// Font sizes
$xl-font-size: 16px;
$l-font-size: 14px;
$s-font-size: 12px;
$m-font-size: 11px;

// Width
$pc-width: 1200px;
$tablet-width: 768px;
